<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="signInForm.get('email')?.hasError('required')">El correo es obligatorio</mat-error>
      <mat-error *ngIf="signInForm.get('email')?.hasError('email')">Formato de correo inválido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="signInForm.get('password')?.hasError('required')">La contraseña es obligatoria</mat-error>
      <mat-error *ngIf="signInForm.get('password')?.hasError('minlength')">La contraseña debe tener al menos 6 caracteres</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!signInForm.valid || loading">
      <span *ngIf="!loading">Iniciar Sesión</span>
      <mat-spinner *ngIf="loading" [diameter]="20"></mat-spinner>
    </button>
  </form>
</div>